APP_NAME=paw-reaktiver-arbeidssoker
KAFKA_TOPIC=test
KAFKA_BROKERS=127.0.0.1:9092
AIA_BACKEND_URL=http://localhost:3000/m2m/automatisk-reaktivering
VEILARBREGISTRERING_URL=http://localhost:3000/api/fullfoerreaktivering/systembruker
VEILARBREGISTRERING_GCP_URL=http://localhost:3000/api/arbeidssoker/perioder
AZURE_OPENID_CONFIG_TOKEN_ENDPOINT=http://localhost:3000/token
AIA_BACKEND_SCOPE=api://dev-gcp.paw.aia-backend/.default
VEILARBREGISTRERING_GCP_SCOPE=api://dev-gcp.paw.veilarbregistrering/.default
PAW_PROXY_SCOPE=api://dev-fss.paw.paw-proxy/.default
